.container {
    width: 1280px;
    margin: 0 auto;




}

.container-head {
    width: 334px;
    height: 90px;
    font-family: initial;
    font-size: 80px;
    /* background-color: rgb(169, 169, 243); */
    margin: 61px 0px 20px 98px;


}

h1:hover {
    border-bottom: navy;

}

a {

    text-decoration: none;
    color: hsl(0, 88%, 3%);

}

a:hover {
    /*text-decoration: underline;*/
    text-decoration-color: rgb(100, 102, 241);

}

.slogan {
    color: rgb(14, 172, 224);

}

.container-menu ul {
    display: flex;
    background: #35444F;
    width: 1283px;
    height: 72px;
    margin-left: 35px;


}

.link-menu {
    display: block;

    padding: 26px 0px;
    padding-right: 45px;
    padding-left: 45px;
    cursor: pointer;
    /* margin-left: 71px;   */
    font-size: 25px;
    list-style: none;
    text-decoration: none;
    border-left: 1px solid cornsilk;


}

.link-menu a {
    text-decoration: none;
    color: white;
}

.link-menu:hover {
    background-color: #222F3A;
}

.container-list {
    display: flex;
    justify-content: space-between;
}

.desc-menu ul {
    display: block;
    align-items: center;
    /* /* display: block; */

    height: 399px;
    width: 344px;
    margin: 40px 20px 20px 20px;
    margin-left: 35px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #1b121238;
}

.list-menu a {
    text-decoration: none;
}

.list-menu {
    padding: 25px 15px 25px 60px;
    cursor: pointer;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.link-menu a {
    text-decoration: none;
}


.list-menu:hover {


    background-color: #DBDBDB;
    padding-left: 100px;

}


.picture {
    margin: 40px 180px 20px 20px;
    height: 529px;
    width: 885px;
    border: 1px solid #1b121238;
}


.ram {
    margin: 70px 268px;
}

.text-content {
    width: 885px;
    margin: 30px 0px 20px 20px;
    font-size: 18px;
    line-height: 24px;
}

footer ul {
    display: flex;
    justify-content: left;
    width: 1280px;
    height: 69px;
    margin-top: 20px;
    background: rgba(99, 105, 110, 0.48);
    margin-left: 35px;


}

.aside a {
    text-decoration: none;
}

.aside {
    display: flex;
    align-items: center;
    padding-left: -15px;

    margin-left: 20px;


    font-size: 28px;
    line-height: 16px;
}

.aside a:hover {
    color: rgb(28, 103, 201);

}

.copy {
    display: flex;
    align-items: center;
    justify-self: right;
    font-size: 25px;
    line-height: 20px;
    padding-right: 15px;
    padding-left: 50px;
    margin-left: 190px;


}